@model  TMS.Models.Staff
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Staffs", "POST"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
        <button type="submit" class="btn btn-primary">Create Staff</button>
    </div>
}
